.tt-input{
    font-family: var(--font-family-base);
    font-size: calc(var(--font-size-base) + 8px);
    border: none;
    background: none;
    border-bottom: 1px solid var(--tt-color-gray-light);
    outline: none;
    transition: border-color 0.5s;
    padding-bottom: 10px;
    width: 100%;
    margin-top: 32px;
}

.tt-input:focus{
    border-color: var(--tt-color-primary-light);
}

.tt-input::placeholder{
    color: var(--tt-color-gray-dark)
}